#cards-body{
    background-color: antiquewhite;
  }

.card {
    border: 1px solid #c4c4c3;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 400px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text{
    font-size: small;
  }

